// Color variables - it is better to use the colors in variables rather
// those colors directly.

// Grayscale

$white: #fff;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #eaeaea;
$gray: #a1a1a1;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: #000;
$skyblue: #598CC8;
$dark-skyblue: #4073af;
$dark-red: #DA4932;
$black-light: #8D8D8D;
$border-color: #8e929c;
