.gin-layer-wrapper {
    .gin-table-scroll-wrapper {
        padding-bottom: 0;
        margin-bottom: 0;
        overflow: unset;
    }
}

.layout-container {
    .region-highlighted {
        margin-top: 20px;

        .messages__wrapper {
            .messages--status {
                color: $white;
            }

            .messages--error {
                color: $white;
            }
        }
    }
}

.toolbar-id--toolbar-icon-user {
    &.toolbar-tab--toolbar-item-user {
        .toolbar-icon {
            padding-top: 24px;
            padding-bottom: 24px;
            background-color: $white;
        }
    }
}


.user-logged-in {
    overflow-x: hidden;

    .region-pre-content {
        .block-local-tasks-block {
            .tabs-wrapper--secondary {
                margin: 0;
            }
        }
    }

    .toolbar-secondary {
        .toolbar-tray {
            width: 100% !important;
            border-radius: 5px !important;
        }
    }

    .field-plugin-settings-edit {
        width: 100%;
    }

    .layout-container {
        .region-highlighted {
            margin-top: 20px;

            .messages__wrapper {
                .messages--status {
                    color: $white;
                }

                .messages--error {
                    color: $white;
                }
            }
        }
    }

    .region-content {
        .block-system-main-block {
            form {
                padding: 60px 250px;

                @media screen and (max-width: 1200px) {
                    padding: 24px;
                }

                &.views-exposed-form {
                    padding: 1.5rem;
                    align-items: end;

                    .views-exposed-form__item--preceding-actions {
                        .select2-selection--single {
                            height: 40px;
                            min-height: unset;
                            padding: 6px 15px;
                        }
                        .select2-selection__arrow {
                            height: 38px;
                            min-height: unset;
                        }
                    }
                }

                &.block-admin-display-form {
                    padding: 1.5rem;
                }

                .form-element {
                    width: 100%;
                }

                .form-item__label {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                }

                .password-confirm {
                    width: 100%;
                    max-width: 100%;
                }

                .password-confirm__confirm {
                    margin-top: 20px;

                    .form-element {
                        max-width: 100%;
                    }
                }

                .form-actions {
                    justify-content: center;
                }
            }
        }
    }
}

[dir="ltr"] {
    .gin-breadcrumb {
        .gin-breadcrumb__list {
            padding-left: 6px !important;
            margin: 16px 0;
            max-width: 80%;

            @media screen and (max-width: $medium) {
                max-width: 60%;
            }

            .gin-breadcrumb__item {
                &::before {
                    content: '';
                    background-image: url('data:image/svg+xml,<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.575 6L0 1.4L1.4 0L7.4 6L1.4 12L0 10.6L4.575 6ZM11.175 6L6.6 1.4L8 0L14 6L8 12L6.6 10.6L11.175 6Z" fill="black" fill-opacity="0.4"/></svg>');
                    background-repeat: no-repeat;
                    background-size: 20px;
                    height: 20px;
                    background-position: center;
                    padding-left: 2.75rem !important;
                    border-right: unset !important;
                    margin-right: 0 !important;
                    opacity: 1;
                }

                &:first-child {
                    a {
                        color: $black;
                        opacity: 1;
                    }

                    &::before {
                        content: unset;
                    }
                }

                span,
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    padding: 0 !important;
                    color: $black;
                    opacity: 0.4;
                }
            }
        }
    }
}

.hero-banner--wrapper {
    position: relative;

    .hero-banner--heading {
        width: 100%;
        text-align: center;
        padding: 60px 0;
        background-color: $skyblue;

        @media screen and (max-width: $xxl) {
            padding: 50px 0;
        }

        .page-title {
            color: $white;
            font-size: 28px;
            line-height: 34px;
            font-weight: 700;
        }
    }

    .hero-banner-cta {
        margin: 0 !important;
        position: absolute;
        bottom: -64px;
        right: 30px;

        @media screen and (max-width: $medium) {
            right: 30px;
        }
    }
}

.student-application-status-form, .student-login-form  {
    max-width: 660px;
    margin: 0 auto;
    padding: 60px 90px !important;
}

.application-edit--view-wrapper {
    .eck-entity {
        display: flex;
        flex-wrap: wrap;

        .print__wrapper {
            width: 100%;
            padding: 20px;

            a {
                padding: 10px 20px;
                background-color: $skyblue;
                color: $white;
                text-decoration: none;
                border-radius: 5px;

                &:hover {
                    background-color: $dark-skyblue;
                }
            }
        }

        .field--label-above {
            max-width: 33%;
            width: 100%;
            padding: 20px 20px;

            @media screen and (max-width: $large) {
                max-width: 100%;
            }

            form {
                padding: unset;
            }

            .item-list {
                ul {
                    margin: 0;
                }
            }

            &.field--type-entity-reference-revisions {
                max-width: 100%;

                .field__items {
                    margin: 20px 0;
                }
                .gin-table-scroll-wrapper {
                    table {
                        margin: 0;
                    }
                }
            
            }
        }
    }
}

.views-element-container {
    .view-school {
        .views-table {
            form {
                display: flex;
                align-items: center;
                column-gap: 30px;
                padding: 20px 0 20px 20px;
                
                .js-form-item {
                    .form-textarea-wrapper {
                        textarea {
                            height: 50px;
                        }
                    }
                }
                .form-actions {
                    margin: 0;

                    .dropbutton-wrapper {
                        margin: 0;
                    }
                }
            }
        }
    }
}