// @import '../abstracts/breakpoints.scss';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media only screen and (min-width: $xs) {
        max-width: 540px;
        padding: 0 20px;
    }
    @media only screen and (min-width: $medium) {
        max-width: 720px;
        padding: 0 15px;
    }
    @media only screen and (min-width: $large) {
        max-width: 960px;
        padding: 0 15px;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    @media only screen and (min-width: 1440px) {
        max-width: 1320px;
    }
    @media only screen and (min-width: 1730px) {
        max-width: 1670px;
        padding: 0;
    }  
}
  
.container-fluid {
    width: 100%;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
    margin-right: auto;
    margin-left: auto;
}

.export-data-cta {
    text-align: center;
    color: $white;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    padding: 6px 16px;
    background-color: $skyblue;
    border: 2px solid $skyblue;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 16px;

    &:hover {
        text-decoration: none;
        background-color: white;
        color: $skyblue;
    }
}
