@use '../../../tokens/tokens.scss' as *;
.c-input {
  padding: var(--space-2) var(--space-3);
  border: var(--border-width-thin) solid var(--color-gray-300);
  border-radius: var(--border-radius-sm);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--color-text-primary);
  outline: none;
  transition: border-color var(--transition-fast);
  width: 100%;
  &:focus {
    border-color: var(--color-primary);
  }
}