.header-navigation-wrapper {
    width: 100%;

    .region-subheader-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: $skyblue;

        .block-site__menu-text-section-block {
            padding-left: 30px;

            p {
                margin: 0;
                color: $white;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }

            @media screen and (max-width: $medium) {
                padding-left: 16px;
            }
        }

        .menu--get-in-touch {
            padding-right: 30px;

            @media screen and (max-width: $medium) {
                padding-right: 10px;
            }

            .menu {
                display: flex;
                align-items: center;

                @media screen and (max-width: $medium) {
                    margin: 0;
                }

                li {
                    margin-left: 20px;
                    list-style: unset;

                    &::marker {
                        content: '';
                        display: none;
                    }

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &:first-child {
                        display: none;
                    }
                }
            }
        }

        .block-system-breadcrumb-block {
            width: 100%;
            max-width: 100%;
        }

        .main-menu-wrapper {
            max-width: 100%;
            width: 100%;
        }
    }

    .main-menu-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 10px 30px;

        @media screen and (max-width: $large) {
            flex-wrap: wrap;
        }

        .block-site-logo-section-block {
            display: flex;
            align-items: center;

            .logo-content-wrapper {
                padding-left: 30px;

                @media screen and (max-width: $medium) {
                    padding-left: 20px;
                }

                h2 {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    margin: 0;

                    @media screen and (max-width:$medium) {
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18px;
                    margin: 0;
                    max-width: 240px;

                    @media screen and (max-width: $medium) {
                        font-size: 14px;
                        max-width: 150px;
                    }
                }
            }
        }
    }

    .menu--main-menu {
        position: relative;
        max-width: 100%;

        @media screen and (max-width: $large) {
            width: 100%;
        }

        .menu {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: end;
            margin: 0;

            &.collapsed-menu {
                @media screen and (max-width: $large) {
                    display: block;
                    text-align: center;
                    justify-content: unset;
                    margin: 30px 0 0;
                }
            }

            @media screen and (max-width: $large) {
                display: none;
            }

            li {
                margin-left: 115px;
                list-style: unset;
                font-size: 18px;
                line-height: 22px;

                @media screen and (max-width: $large-desktop) {
                    margin-left: 80px;
                }

                @media screen and (max-width: $xxl) {
                    margin-left: 35px;
                }

                @media screen and (max-width: $xl) {
                    margin-left: 20px;
                }

                @media screen and (max-width: $large) {
                    margin-left: 0;
                    padding: 10px 0;
                }

                &::marker {
                    content: '';
                    display: none;
                }

                a {
                    color: black;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    text-decoration: none;
                    padding: 20px 0;

                    @media screen and (max-width: $large) {
                        font-size: 22px;
                    }

                    &:hover {
                        color: $skyblue;
                    }

                    .link-text {
                        display: none;
                    }
                }

                &.menu-item--expanded {
                    padding: 20px 0;
                    cursor: pointer;

                    >a {
                        pointer-events: none;

                        @media screen and (max-width: $large) {
                            text-decoration: underline;
                        }
                    }

                    @media screen and (max-width: $large) {
                        padding: 10px 0;
                    }

                    .menu {
                        display: none;
                        position: absolute;
                        background: $white;
                        padding: 10px 20px;
                        top: 60px;
                        box-shadow: 0px 4px 4px 0px #00000040;                        ;

                        @media screen and (max-width : $large) {
                            box-shadow: unset;
                        }

                        .menu-item {
                            margin: 0;
                            padding: 10px 0;

                            a {
                                padding: 5px 10px;
                                font-size: 18px;
                                color: $skyblue;

                                &:hover {
                                    background-color: $skyblue;
                                    border-radius: 10px;
                                    color: $white;
                                    padding: 5px 10px;
                                }

                                @media screen and (max-width: $large) {
                                    color: black;
                                }
                            }
                        }

                        @media screen and (max-width: $large) {
                            display: block;
                            width: 100%;
                            text-align: center;
                            position: relative;
                            top: 0;
                            margin: 0;
                            background-color: unset;
                            padding: 0;
                        }
                    }

                    &:hover {
                        .menu {
                            display: block;
                            width: max-content;

                            @media screen and (max-width: $large) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu--account {

        @media screen and (max-width: $large) {
            text-align: center;
            width: 100%;
        }

        ul {
            margin: 0;

            .menu-item {
                list-style: unset;
                @media screen and (max-width: $large) {
                    display: none;
                }

                &::marker {
                    content: '';
                    display: none;
                }

                a {
                    background-color: $skyblue;
                    color: $white;
                    padding: 10px 20px;
                    text-decoration: none;
                    border-radius: 5px;

                    @media screen and (max-width: $large) {
                        display: none;
                    }
                }
            }

            &.collapsed-menu {
                .menu-item {
                    display: block;
                }

                a {
                    display: block;
                }

                @media screen and (max-width: $large) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }
}


.hamburger {
    width: 30px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: none;

    @media screen and (max-width: $large) {
        display: block;
        position: absolute;
        top: -55px;
        right: 0;
    }

    span {
        background-color: #000;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: 0.3s ease;
    }

    span:nth-child(1) {
        top: 0;
    }

    span:nth-child(2) {
        top: 75%;
    }

    span:nth-child(3) {
        top: 35%;
    }

    &.active {
        span:nth-child(3) {
            top: 50%;
        }
    }

    span:nth-child(2) {
        transform: translateY(-50%);
    }

    span:nth-child(3) {
        bottom: 0;
    }

    &.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }

    &.active span:nth-child(2) {
        opacity: 0;
    }

    &.active span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 50%;
    }
}

.user-logged-in {
    .header-navigation-wrapper {
        overflow: unset;
        margin-inline: -17px;
    }

    .gin-breadcrumb__list {
        padding-left: 30px !important;
    }
}