<div class="statistics-block">
  {% for stat in statistics %}
    <div class="statistic-item">
      <div class="icon">
        <img src="profiles/contrib/rte_mis/modules/rte_mis_home/assets/statistics/{{ stat.icon }}.svg" alt="{{ stat.label }}">
      </div>
      <div class="total-count"><p>{{ stat.total_count }}</p></div>
      <div class="label"><p>{{ stat.label }}</p></div>
    </div>
  {% endfor %}
</div>
