<div class="statistics-block">
  {% for stat in statistics %}
    <div class="statistic-item">
      <div class="icon">
        <img src="profiles/contrib/rte_mis/modules/rte_mis_home/assets/statistics/{{ stat.icon }}.svg" alt="{{ stat.label }}">
      </div>
      <div class="total-count">{{ stat.total_count }}</div>
      <div class="label">{{ stat.label }}</div>
    </div>
  {% endfor %}
</div>
