.school-details-wrapper {
  border: 1px solid #d4d4d8;
  border-radius: 8px;
  margin: 24px 0px;
  padding: 16px 24px;

  .field--name-field {
    &-school-name {
      .field__label {
        display: none;
      }
      .field__item {
        font-size: 2em;
        font-weight: 500;
        color: #4b5563;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 8px;
      }
    }

    &-udise-code,
    &-academic-year {
      .field__label {
        font-size: 1.1em;
        font-weight: 600;
        color: #4b5563;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .field__item {
        font-size: 1.1em;
        font-weight: 400;
        color: #4b5563;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

#mini-node-school-details-edit-form {
  .field--name-field {
    &-board-type {
      .form-radios {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
      }
    }
  }
}
