@import "../base/breakpoints";
@import "../base/color";
@import "../base/reset";
@import "../base/global";

.school-details-wrapper {
  border: 1px solid #d4d4d8;
  border-radius: 8px;
  margin: 24px 0px;
  padding: 16px 24px;

  .field--name-field {
    &-school-name {
      .field__label {
        display: none;
      }
      .field__item {
        font-size: 2em;
        font-weight: 500;
        color: #4b5563;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 8px;
      }
    }

    &-udise-code,
    &-academic-year {
      .field__label {
        font-size: 1.1em;
        font-weight: 600;
        color: #4b5563;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .field__item {
        font-size: 1.1em;
        font-weight: 400;
        color: #4b5563;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

#mini-node-school-details-edit-form {
  .field--name-field {
    &-board-type {
      .form-radios {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
      }
    }
  }
}

.field--name-field-education-details {
  [id^="field-education-details-values"] {
    & > tbody > .draggable {
      .tabledrag-cell {
        display: none;
      }

      .paragraph-top {
        align-items: center;
        .paragraph-info {
          display: none;
        }

        .paragraphs-actions {
          .paragraphs-icon-button-collapse {
            display: none;
          }
        }
      }

      div.paragraphs-subform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .field--name-field-medium {
          grid-column: 1 / -1;

          .form-checkboxes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
          }
        }

        .field--name-field-fee-details {
          grid-column: 1 / -1;
        }
      }

      div.layer-wrapper {
        & > table {
          & > tbody {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            & > tr {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;

              &:has(.field--name-field-medium) {
                grid-column: 1 / -1;

                .form-checkboxes {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  gap: 20px;
                }
              }

              &:has(.field--name-field-fee-details) {
                grid-column: 1 / -1;
              }
            }
          }
        }
      }
      &:not(:has([class*="field--name-field-"])) {
        display: none;
      }
    }
    
  }
}

#entry-class-wrapper table table {
  tr:not(:has(td:nth-child(2) .form-wrapper)) {
    display: none !important;
  }
}

.field--widget-fee-details-table-widget {
    
    #fee-table-wrapper {
      table { 
        tr {
          th {
            display: table-cell;

            &:first-child {
                padding: 16px;
            }
          }

          td:first-child {
            padding: 16px;
          }
        }
        thead,
        tbody {
          display: inline-table;
          width: 100%;
        }
      }
    }

    .field-add-more-submit {
      display: none;
    }

    input#edit-field-education-details-0-subform-field-fee-details-0-actions-delete {
      display: none;
    }
}

.school-details-cshs {
  .form-type--cshs {
    
    div[data-level="0"],
    div[data-level="1"] {
      display: inline-block;
      margin-right: 0px;
      padding-right: 16px;
      align-items: center;
      padding-bottom: 16px;
      min-width: 50%;

      label {
        display: inline-block;
        font-weight: bold;

        &::after {
          content: ':';
          font-weight: bold;
        }
      }

    }

    .form-item__description {
      display: block;
      width: 100%;
    }

  }
}

.field-group-fieldset {
  &.address_details_wrapper {
    .fieldset__wrapper {
      display: flex;
      flex-direction: column;
      
      @media screen and (min-width: $large) {
        flex-direction: row;
        gap: 16px;
      }
    }

    .field--name-field {
      &-full-address {
        @media screen and (min-width: $large) {
          flex-basis: 55%;
        }
      }

      &-pincode {
        @media screen and (min-width: $large) {
          flex-basis: 40%;
        }
      }
    }
  }

  &.recognition-details-wrapper,
  &.school-admin-details-wrapper {
    .fieldset__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media screen and (min-width: $large) {
        flex-direction: row;
      }
    }

    .form-wrapper {
      @media screen and (min-width: $large) {
        flex-basis: 50%;
        padding-right: 16px;
      }
    }
  }
}

.field--type-geolocation {
  .fieldset__wrapper {
    display: flex;
    flex-wrap: wrap;

    .form-item {
      @media screen and (min-width: $large) {
        flex-basis: 50%;
        padding-right: 16px;
      }
    }

    .fieldset__description {
      display: block;
      width: 100%;
      @media screen and (min-width: $large) {
          flex-basis: 100%;
      }
    }
  }
}
