table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    text-align: center;
  }
}

.eck-entity {
  header {
    text-align: center;

    h1 {
      margin: 0;
    }

    p {
      margin: 5px 0;
    }

    img {
      height: 120px;
      width: 120px;
    }
  }
}

.school-pdf-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;

  h2 {
    text-align: center;
    margin: 0;
  }

  table {
    text-align: center;

    tbody {
      tr {
        width: 100%;
        text-align: center;

        td {
          border: 1px solid black;
          padding: 2px 60px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.education-level-wrapper,
.seat-details-wrapper,
.fee-info-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 10px;

  h2 {
    text-align: center;
    margin: 0;
  }

  thead {
    tr {

      th,
      td {
        border: 1px solid black;
        padding: 2px 15px;
        text-align: center;
      }
    }
  }
}

.entry-class-wrapper {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

.aggrement-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;

  h3 {
    margin: 0;
  }

  p {
    margin: 4px;
  }

  table {
    tbody {
      td {
        border: 1px solid black;
        padding: 5px 80px;
        text-align: center;
      }
    }
  }
}