table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    text-align: center;
  }
}

.eck-entity {
  header {
    text-align: center;

    h1 {
      margin: 0;
    }

    p {
      margin: 5px 0;
    }

    img {
      height: 120px;
      width: 120px;
    }
  }
}

.location-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;

  h2 {
    text-align: center;
  }

  table {
    text-align: center;

    tbody {
      tr {
        width: 100%;
        text-align: center;

        td {
          border: 1px solid black;
          padding: 10px 90px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.selected-school,
.siblings-details,
.applied-category-details,
.other-document-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  thead {
    tr {

      th,
      td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
      }
    }
  }
}

.student-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;

  h2 {
    text-align: center;
  }

  table {
    text-align: center;
  }
}

.applied-category-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  thead {
    tr {

      th,
      td {
        border: 1px solid black;
        padding: 2px 15px;
        text-align: center;
      }
    }
  }
}

.application-status {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  ul {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
  }
}

.aggrement-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;

  p {
    padding: 2px 15px;
  }

  table {
    tbody {
      td {
        border: 1px solid black;
        padding: 5px 80px;
        text-align: center;
      }
    }
  }
}