@import "../base/breakpoints";
@import "../base/color";
@import "../base/reset";
@import "../base/global";

.testimonials--wrapper {
    margin: 20px 24px;
    padding: 35px 20px;
    border: 0.5px solid rgb(129, 129, 132);
    overflow: hidden;

    @media screen and (max-width: $large) {
        padding: 20px;
        margin: 20px 16px;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-bottom: 36px;
    }

    .view-content {
        padding: 0;
        position: relative;
        margin-bottom: 60px;
        z-index: 0;
        background-color: unset;
        border: unset;
        box-shadow: unset;

        &.gin-layer-wrapper {
            overflow: unset;
        }

        .slick-track {
            padding-bottom: 1px;
        }

        .prev-icon {
            cursor: pointer;
            position: absolute;
            bottom: -55px;
            right: 56%;
            z-index: 999;
            height: 40px;
            width: 40px;
            transform: rotate(180deg);
            border: 1px solid rgba(191, 191, 191, 1);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('data:image/svg+xml,<svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.81434 7.54407L1.68093 13.7746C1.43335 14.0751 1.03196 14.0751 0.784406 13.7746L0.185678 13.0479C-0.0614783 12.748 -0.0619537 12.2618 0.184622 11.9611L4.25294 6.99998L0.184622 2.03892C-0.0619537 1.73823 -0.0614783 1.25205 0.185678 0.952066L0.784406 0.225371C1.03198 -0.0751237 1.43337 -0.0751237 1.68093 0.225371L6.81431 6.45593C7.06189 6.75639 7.06189 7.24357 6.81434 7.54407Z" fill="%23598CC8"/></svg>');
            
            @media screen and (min-width: $xxl) {
                right: 54%;
            }
        }
        .next-icon {
            cursor: pointer;
            position: absolute;
            left: 56%;
            z-index: 999;
            bottom: -55px;
            height: 40px;
            width: 40px;
            border: 1px solid rgba(191, 191, 191, 1);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('data:image/svg+xml,<svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.81434 7.54407L1.68093 13.7746C1.43335 14.0751 1.03196 14.0751 0.784406 13.7746L0.185678 13.0479C-0.0614783 12.748 -0.0619537 12.2618 0.184622 11.9611L4.25294 6.99998L0.184622 2.03892C-0.0619537 1.73823 -0.0614783 1.25205 0.185678 0.952066L0.784406 0.225371C1.03198 -0.0751237 1.43337 -0.0751237 1.68093 0.225371L6.81431 6.45593C7.06189 6.75639 7.06189 7.24357 6.81434 7.54407Z" fill="%23598CC8"/></svg>');
            
            @media screen and (min-width: $xxl) {
                left: 54%;
            }
        }

        .slick-dots {
            bottom: -48px;
            
            li {
                button {
                    &::before {
                        height: 13px;
                        width: 13px;
                        border: 1px solid rgba(191, 191, 191, 1);
                        border-radius: 50%;
                        opacity: 1;
                        font-size: 0;
                        line-height: 15px;
                    }
                }
                &.slick-active {
                    button {
                        &::before {
                            color: $skyblue;
                            font-size: 17px;
                            border: unset;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }

    .slick-slide {
        padding: 35px 15px;
        box-shadow: 0px 1px 1px 0px rgba(89, 140, 200, 0.5);
        border-radius: 20px;
        background: rgba(249, 251, 254, 1);
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        position: relative;
        margin: 0 26px;

        @media screen and (max-width: $xl) {
            margin: 0 14px;
        }

        @media screen and (max-width: $medium) {
            margin: 0;
        }

        .views-field-field-person-feedback {
            max-width: 100%;
            width: 100%;
            padding-bottom: 34px;

            .field-content {
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                text-align: justify;
                text-justify: inter-word;
                min-height: 120px;
            }
        }

        .views-field-field-person-image {
            max-width: 28%;
            width: 100%;
            img {
                height: 70px;
                width: 70px;
            }
        }

        .views-field-title {
            max-width: 72%;
            width: 100%;

            a {
                font-size: 20px;
                color: $skyblue;
                text-decoration: unset;

                &:hover {
                    text-decoration: underline;
                }

                @media screen and (max-width: $xxl) {
                    font-size: 16px;
                }

                @media screen and (max-width: $large) {
                    font-size: 14px;
                }
            }
        }

        .views-field-field-person-position {
            position: absolute;
            bottom: 54px;
            left: 30%;

            .field-content {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;

                @media screen and (max-width: $xxl) {
                    font-size: 16px;
                }

                @media screen and (max-width: $large) {
                    font-size: 14px;
                }
            }
        }
    }
}