<div class="news-item">
  <a href="{{ fields.field_external_link.content }}" target="_blank" rel="noopener noreferrer">
    <div class="news-thumbnail">
      {{ fields.field_thumbnail.content }}
    </div>
    <div class="news-title">
      <h3>{{ fields.title.content }}</h3>
    </div>
  </a>
</div>
