<div class="news-item">
  <a href="{{ fields.field_original_url.content }}" target="_blank">
    {{ fields.field_image.content }}
    <div class="title">{{ fields.title.content }}</div>
  </a>
</div>
